---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Print Media Stock Levels</title>
  </head>
  <body>
    <nav>
      <ul class="flex gap-4">
        <li><a href="/">Home</a></li>
        <li><a href="/stock-levels/">Stock Levels</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </nav>
    <h1 class="text-4xl font-bold text-blue-700">Stock levels</h1>
    <p>
      The goal of this website is to improve, even by a little bit, the
      ridiculous lack of processes at a certain printing company...
    </p>
  </body>
</html>
